Source: ros-hydro-industrial-desktop
Section: misc
Priority: extra
Maintainer: Shaun Edwards <shaun.edwards@gmail.com>
Build-Depends: debhelper (>= 7.0.50~), ros-hydro-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-hydro-industrial-desktop
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-fanuc, ros-hydro-industrial-core, ros-hydro-motoman, ros-hydro-universal-robot
Description: The industrial_desktop package contains all &quot;released&quot; packages
